/* src/index.css */
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* node_modules/@ogauk/react-tiny-editor/lib/index.css */
.__editor {
  background: #ffffff;
  border: solid 1px #e0e0e0;
  color: #000000;
  font-family: "serif";
  margin-top: 10px;
  overflow: scroll;
  padding: 10px;
}
.__editor:focus {
  outline: none;
}
.__toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.__toolbar-item {
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  min-width: 30px;
  padding: 5px;
}
.__toolbar-item:hover {
  background: #f0f0f0;
}
.__toolbar-item.active {
  background: #d0d0d0;
}
.__toolbar-separator {
  border-left: solid 1px #e0e0e0;
  margin-right: 7px;
}
.__toolbar-separator:last-child {
  display: none;
}
