.wrap {
    display: flex;
}

.left {
    margin-right: 10px;
}

.calendar {
    flex-grow: 1;
}

/* toolbar */

.toolbar {
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
}

.toolbar a,
.toolbar button {
    background-color: #E0E0E0;
    color: #333;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 15px;
    transition: all 0.3s;
    width: 100px;
    border: none; /* remove default button borders */
    cursor: pointer; /* hand cursor for buttons */
    outline: none; /* remove focus outline */
}

.toolbar a:hover,
.toolbar button:hover
{
    background-color: #3c78d8;
    color: #FFF;
}

.toolbar span {
    margin-right: 10px;
}

/* button, slightly different */

.toolbar button {
    background-color: #777777;  /* primary color */
    color: #FFF;  /* white text */
    padding: 7px 17px;
}

.toolbar select {
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    padding: 5px 15px;
    border-radius: 15px;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

.toolbar select:focus {
    border-color: #3c78d8;
}

.toolbar select option {
    padding: 5px 10px;
}


/* toolbar label */

.toolbar label {
    margin: 0 10px;
    display: flex;
    align-items: center;  /* central vertical alignment for items inside the label */
    cursor: pointer;
}

.toolbar input[type="radio"] {
    margin-right: 5px;  /* give space on the right side of the radio button */
    margin-bottom: 4px;
}

.toolbar input[type="checkbox"] {
    margin-right: 5px;
}

/* text input */

.toolbar input[type="text"] {
    border: 1px solid #E0E0E0;
    padding: 5px 10px;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s;
    margin: 0 10px; /* spacing between the input and subsequent elements */
}

.toolbar input[type="text"]:focus {
    border-color: #3c78d8;
}


/* icon */

.icon {
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
    background-color: #777777;
    transition: all 0.3s;
}

.icon:hover {
    background-color: #3c78d8;
}
